<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:p="http://primefaces.org/ui">
    <h:head>
        <title>Empresa Web</title>
        
        <meta name="author" content="JOSE LUIS CONTRERAS"></meta>
        <link rel="shortcut icon" href="src/favicon.png" type="image/x-icon"></link>
        <link rel="icon" href="src/favicon.png" type="image/x-icon"></link>
         <link href="css/attention_box.css" media="screen" rel="stylesheet" />
        <script src="js/jquery-1.4.2.min.js"></script>
        <script src="js/jquery-ui-1.8.1.custom.min.js"></script>
        <script src="js/attention_box-min.js"></script>
    </h:head>
    
    <body bgcolor="#80b3be"> 
        <h:form>
               
            <p:panel header="Bienvenidos Registrar Empleado" style="width:99.5%;text-align:center;border-bottom: 3px;height:50%;background-image:url(src/logo_ingeneo1.png);
                     background-repeat:no-repeat;background-position: 60% 50%;">
                
                <h:panelGrid columns="2" border="5" cellspacing="8" cellpadding="4" bgcolor="336E7B" id="fomRegistrar">
                    
                    <h:outputLabel for="DocEmpleado" value="Numero Documento: " /> 
                    <h:inputText id="DocEmpleado" label="DocEmpleado" value="#{mbconsulta.docEmpleado1}" required="true">
                        <f:validateLength for="DocEmpleado" minimum="5" maximum="10" />
                    </h:inputText>
                    
                    <h:outputLabel for="nombre" value="Nombre" />
                    <h:inputText id="nombre" label="Nombre" value="#{mbconsulta.nombre1}" >
                        
                    </h:inputText>
                    
                    <h:outputLabel for="apellido" value="Apellido" />
                    <h:inputText id="apellido" label="Apellido" value="#{mbconsulta.apellido1}" >
                    </h:inputText>
                    
                    <h:outputLabel for="direccion" value="direccion : " />
                    <h:inputText id="direccion"  label="direccion" value="#{mbconsulta.direccion1}">
                    </h:inputText>
                    
                    <h:outputLabel for="telefono" value="Telefono " />
                    <h:inputText id="telefono" label="Telefono" value="#{mbconsulta.telefono1}" >
                        
                    </h:inputText>
                    
                    <h:outputLabel for="jefe" value="Jefe Inmediato " />
                    <h:inputText id="jefe" label="Jefe Inmediato" value="#{mbconsulta.jefeInmediato1}" >
                    </h:inputText>
                    
                    <h:outputLabel for="departamento" value="Departamento " />
                    <h:inputText id="departamento" label="Departamento" value="#{mbconsulta.idDepartamento1}" required="true">
                    </h:inputText>
                    
                    <h:outputLabel for="contrato" value="Tipo de Contrato " />
                    <h:inputText id="contrato" label="Tipo de Contrato" value="#{mbconsulta.idContrato1}" required="true">
                    </h:inputText>
                    
                    <h:commandButton value="Registrar" action="#{mbconsulta.registrarEmpleado}"
                                     style="border-bottom-right-radius: 5px" />
                </h:panelGrid>
                <h:messages errorStyle="color:red;margin:8px;"/>
             
            </p:panel>
        </h:form>
        <h:form >
            <p:panel header="Consultar"  style="width:99.5%;text-align: center" >
                <h:panelGrid columns="2" cellpadding="5">
                    <h:outputLabel value="Ingrese el numero de Documento \ del empleado: "/>
                    <h:inputText required="true"   value="#{mbconsulta.docConsulta}" style="background-color:#80b3be;"/>
                    <h:commandButton   value="Consultar Empleado"  action="#{mbconsulta.consultar}"  style="border-bottom-right-radius: 10px;width: 52%;"/>
                </h:panelGrid>
            </p:panel>
        </h:form>   
        <h:form rendered="#{mbconsulta.cont  lt 1 eq false}" id="formConsulta" >
            <p:panel  header="Datos Encontrados" style="width: 99.5%;text-align: center">
                <p:dataTable  var="" value="">
                    <p:column headerText="DocEmpleado">
                        <h:outputText value="#{mbconsulta.miEmpleado.docEmpleado1}" />
                    </p:column>
                    
                    <p:column headerText="nombre">
                        <h:outputText value="#{mbconsulta.miEmpleado.nombre1}" />
                    </p:column>
                    
                    <p:column headerText="apellido">
                        <h:outputText value="#{mbconsulta.miEmpleado.apellido1}" />
                    </p:column>
                    
                    <p:column headerText="direccion">
                        <h:outputText value="#{mbconsulta.miEmpleado.direccion1}" />
                    </p:column>
                    
                    <p:column headerText="telefono">
                        <h:outputText value="#{mbconsulta.miEmpleado.telefono1}" />
                    </p:column>
                    
                    <p:column headerText="JefeInmediato">
                        <h:outputText value="#{mbconsulta.miEmpleado.jefeInmediato1}" />
                    </p:column>
                    
                    <p:column headerText="idDepartamento">
                        <h:outputText value="#{mbconsulta.miEmpleado.idDepartamento1}" />
                    </p:column>
                    
                    <p:column headerText="idContrato">
                        <h:outputText value="#{mbconsulta.miEmpleado.idContrato1}" />
                    </p:column>  
                    
                    <p:column headerText="EDITAR" >
                        <p:commandLink id="ajax"  actionListener="#{mbconsulta.pagMod}" action="tabla.xhtml">
                            <h:graphicImage value="../src/editar1.png"/>
                        </p:commandLink>
                    </p:column> 
                    <p:column headerText="ELIMINAR">
                        <p:commandLink id="ajax1"  actionListener="#{mbconsulta.eliminar}">
                            <h:graphicImage value="../src/delete_1.png"/>
                        </p:commandLink>
                    </p:column> 
                </p:dataTable>
            </p:panel>
            
        </h:form>
        
        
    </body> 
    
</html>
