<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:p="http://primefaces.org/ui">
    <h:head>
        <title>Empresa Web</title>
        <link rel="shortcut icon" href="../src/favicon.png" type="image/x-icon"></link>
        <link rel="icon" href="../src/favicon.png" type="image/x-icon"></link>
    </h:head>
    <h:body> 
        
        <p:panel header="Modificar empleado" style="width:99.5%;text-align:center;border-bottom: 4%;height:50%;background-image:url(../src/logo_ingeneo1.png);
                 background-repeat:no-repeat;background-position: 60% 50%;">
            <h:form>
                <h:panelGrid columns="2" border="3" cellspacing="10" cellpadding="9" bgcolor="336E7B" >
                    
                    <h:outputLabel for="DocEmpleado" value="Numero Documento: " /> 
                    <h:inputText id="documento" label="DocEmpleado" value="#{mbconsulta.miempleCosultado.docEmpleado1}" readonly="true">
                    </h:inputText>
                    <h:outputLabel for="nombre" value="Nombre" />
                    <h:inputText id="nombre" label="Nombre" value="#{mbconsulta.miempleCosultado.nombre1}" >
                        
                    </h:inputText>
                    
                    <h:outputLabel for="apellido" value="Apellido" />
                    <h:inputText id="apellido" label="Apellido" value="#{mbconsulta.miempleCosultado.apellido1}" >
                    </h:inputText>
                    
                    <h:outputLabel for="direccion" value="direccion : " />
                    <h:inputText id="direccion"  label="direccion" value="#{mbconsulta.miempleCosultado.direccion1}">
                    </h:inputText>
                    
                    <h:outputLabel for="telefono" value="Telefono " />
                    <h:inputText id="telefono" label="Telefono" value="#{mbconsulta.miempleCosultado.telefono1}" >
                        
                    </h:inputText>
                    
                    <h:outputLabel for="jefe" value="Jefe Inmediato " />
                    <h:inputText id="jefe" label="Jefe Inmediato" value="#{mbconsulta.miempleCosultado.jefeInmediato1}" >
                    </h:inputText>
                    
                    <h:outputLabel for="departamento" value="Departamento " />
                    <h:inputText id="departamento" label="Departamento" value="#{mbconsulta.miempleCosultado.idDepartamento1}" required="true">
                    </h:inputText>
                    
                    <h:outputLabel for="contrato" value="Tipo de Contrato " />
                    <h:inputText id="contrato" label="Tipo de Contrato" value="#{mbconsulta.miempleCosultado.idContrato1}" required="true">
                    </h:inputText>
                    
                    <h:commandButton value="Modificar" action="#{mbconsulta.modificaEmpleado}" style="border-bottom-right-radius: 5px"/>
                </h:panelGrid>
                <h:messages errorStyle="color:red;margin:8px;"/>
            </h:form>
        </p:panel>
        
        
    </h:body>   
</html>
